/* overrides alabaster (https://github.com/sphinx-doc/alabaster/blob/master/alabaster/static/alabaster.css_t) */
@import 'alabaster.css_t';

:root {
    --c_bg: #000000;
    --c_body_text: #ffffff;
}

body {
  background: var(--c_bg);
  color: var(--c_body_text);   /* make text readable */
}

div.document {
  background-color: var(--c_bg);
}
div.body {
  background-color: var(--c_bg);
}
:is(h1,h2,h3) {
    color: var(--c_body_text);
}

div.footer {
    color: var(--c_body_text);
}

div.footer a {
    color: var(--c_body_text);
}

div.sphinxsidebar {
  background-color: var(--c_bg);
  color: var(--c_body_text);
}