/* overrides alabaster (https://github.com/sphinx-doc/alabaster/blob/master/alabaster/static/alabaster.css_t) */

body {
  background: #000;
  color: #eaeaea;   /* make text readable */
}

div.document {
  background-color: #000;
}
div.body {
  background-color: #000;
}

div.sphinxsidebar {
  background-color: #000;
}